In [1]:
import gcsfs

In [2]:
#gcs_browser = gcsfs.GCSFileSystem(project='malariagen-jupyterhub', token='browser')

In [5]:
#gcs_orig = gcsfs.GCSFileSystem(project='malariagen-jupyterhub', token='cache')
gcs =  gcsfs.GCSFileSystem(project='malariagen-jupyterhub', token='cloud')

In [6]:
import os
import allel
import zarr

In [7]:
phase2path = os.path.join("ag1000g-release", "phase2.AR1", "variation", "main", "zarr", "biallelic", "ag1000g.phase2.ar1.pass.biallelic")

In [8]:
gcsmap = gcsfs.mapping.GCSMap(phase2path, gcs=gcs)

In [9]:
calldata= zarr.Group(gcsmap, read_only=True)

In [22]:
!wget --no-clobber ftp://ngs.sanger.ac.uk/production/ag1000g/phase2/AR1/samples/samples.meta.txt

--2019-08-21 13:39:29--  ftp://ngs.sanger.ac.uk/production/ag1000g/phase2/AR1/samples/samples.meta.txt
           => ‘samples.meta.txt’
Resolving ngs.sanger.ac.uk (ngs.sanger.ac.uk)... 193.62.203.79
Connecting to ngs.sanger.ac.uk (ngs.sanger.ac.uk)|193.62.203.79|:21... connected.
Logging in as anonymous ... Logged in!
==> SYST ... done.    ==> PWD ... done.
==> TYPE I ... done.  ==> CWD (1) /production/ag1000g/phase2/AR1/samples ... done.
==> SIZE samples.meta.txt ... 150452
==> PASV ... done.    ==> RETR samples.meta.txt ... done.
Length: 150452 (147K) (unauthoritative)

samples.meta.txt    100%[===================>] 146.93K   486KB/s    in 0.3s

2019-08-21 13:39:31 (486 KB/s) - ‘samples.meta.txt’ saved [150452]

In [8]:
calldata["2L"]["calldata/GT"]

In [9]:
calldata["2L"]["variants"]

In [10]:
g = calldata["2L"]["calldata/GT"]

In [11]:
g.chunks

(524288, 61, 2)

In [12]:
import pandas as pd

In [13]:
metadata = pd.read_csv("samples.meta.txt", sep="\t")

In [14]:
metadata.head()

,ox_code,src_code,population,country,location,site,contributor,contact,year,m_s,sex,n_sequences,mean_coverage,ebi_sample_acc,latitude,longitude
0,AA0040-C,Twifo_Praso__E2,GHcol,Ghana,Twifo Praso,Twifo Praso,David Weetman,David Weetman,2012,M,F,95033368,30.99,ERS311878,5.60858,-1.54926
1,AA0041-C,Twifo_Praso__H3,GHcol,Ghana,Twifo Praso,Twifo Praso,David Weetman,David Weetman,2012,M,F,95843804,31.70,ERS311886,5.60858,-1.54926
2,AA0042-C,Takoradi_C7,GHcol,Ghana,Takoradi,Takoradi,David Weetman,David Weetman,2012,M,F,107420666,35.65,ERS311894,4.91217,-1.77397
3,AA0043-C,Takoradi_H8,GHcol,Ghana,Takoradi,Takoradi,David Weetman,David Weetman,2012,M,F,95993752,29.46,ERS311902,4.91217,-1.77397
4,AA0044-C,Takoradi_D10,GHcol,Ghana,Takoradi,Takoradi,David Weetman,David Weetman,2012,M,F,103044262,33.67,ERS311910,4.91217,-1.77397

In [15]:
metadata.population.unique()

array(['GHcol', 'GHgam', 'BFgam', 'BFcol', 'UGgam', 'GM', 'GW', 'KE',
       'CMgam', 'FRgam', 'GQgam', 'AOcol', 'GAgam', 'GNgam', 'GNcol',
       'CIcol'], dtype=object)

In [42]:
pop_selection = metadata.population.isin({'BFgam', 'BFcol', 'GHcol', 'AOcol'}).values
pop_select

array([ True,  True,  True, ..., False, False, False])

In [43]:
pop_subset = metadata[pop_selection]
pop_subset.head()

,ox_code,src_code,population,country,location,site,contributor,contact,year,m_s,sex,n_sequences,mean_coverage,ebi_sample_acc,latitude,longitude
0,AA0040-C,Twifo_Praso__E2,GHcol,Ghana,Twifo Praso,Twifo Praso,David Weetman,David Weetman,2012,M,F,95033368,30.99,ERS311878,5.60858,-1.54926
1,AA0041-C,Twifo_Praso__H3,GHcol,Ghana,Twifo Praso,Twifo Praso,David Weetman,David Weetman,2012,M,F,95843804,31.70,ERS311886,5.60858,-1.54926
2,AA0042-C,Takoradi_C7,GHcol,Ghana,Takoradi,Takoradi,David Weetman,David Weetman,2012,M,F,107420666,35.65,ERS311894,4.91217,-1.77397
3,AA0043-C,Takoradi_H8,GHcol,Ghana,Takoradi,Takoradi,David Weetman,David Weetman,2012,M,F,95993752,29.46,ERS311902,4.91217,-1.77397
4,AA0044-C,Takoradi_D10,GHcol,Ghana,Takoradi,Takoradi,David Weetman,David Weetman,2012,M,F,103044262,33.67,ERS311910,4.91217,-1.77397

In [44]:
geno = allel.GenotypeChunkedArray(g)
geno

<GenotypeChunkedArray shape=(8906423, 1142, 2) dtype=int8 chunks=(524288, 61, 2)
   nbytes=18.9G cbytes=-1 cratio=-20342270132.0
   compression=blosc compression_opts={'cname': 'zstd', 'clevel': 1, 'shuffle': -1, 'blocksize': 0}
   values=zarr.core.Array>

In [45]:
variants = calldata["2L"]["variants"]

In [46]:
pos_all = allel.VariantChunkedTable(variants, names=['POS'], index = 'POS')
pos_all

<VariantChunkedTable shape=(8906423,) dtype=[('POS', '<i4')]
   nbytes=34.0M cbytes=-1 cratio=-35625692.0
   values=zarr.hierarchy.Group>

In [47]:
pos_all = allel.SortedIndex(calldata["2L"]["variants/POS"])

In [48]:
pos_selection = pos_all.locate_range(2_000_000, 3_000_000)
pos_selection

slice(23444, 51125, None)

In [49]:
import numpy as np

In [50]:
mask = np.isin(pos_all, pos_selection)
mask

array([False, False, False, ..., False, False, False])

In [51]:
geno_subset = geno[pos_selection].subset(sel1=pop_selection)

In [52]:
geno_subset

<GenotypeArray shape=(27681, 300, 2) dtype=int8>
0/0 0/0 0/0 0/0 0/0 ... 0/0 0/0 0/0 0/0 0/0
0/0 0/0 0/0 0/0 0/0 ... 0/0 0/0 0/0 0/0 0/0
0/0 0/0 0/0 0/0 0/0 ... 0/0 0/0 0/0 0/0 0/0
...
0/0 0/0 0/0 0/0 0/0 ... 0/0 0/0 0/0 0/0 0/0
1/1 1/1 1/1 0/1 0/0 ... 1/1 1/1 0/1 1/1 0/1
0/0 0/0 0/0 0/0 0/0 ... 0/0 0/0 0/0 0/0 0/0

In [53]:
metadata.head()

,ox_code,src_code,population,country,location,site,contributor,contact,year,m_s,sex,n_sequences,mean_coverage,ebi_sample_acc,latitude,longitude
0,AA0040-C,Twifo_Praso__E2,GHcol,Ghana,Twifo Praso,Twifo Praso,David Weetman,David Weetman,2012,M,F,95033368,30.99,ERS311878,5.60858,-1.54926
1,AA0041-C,Twifo_Praso__H3,GHcol,Ghana,Twifo Praso,Twifo Praso,David Weetman,David Weetman,2012,M,F,95843804,31.70,ERS311886,5.60858,-1.54926
2,AA0042-C,Takoradi_C7,GHcol,Ghana,Takoradi,Takoradi,David Weetman,David Weetman,2012,M,F,107420666,35.65,ERS311894,4.91217,-1.77397
3,AA0043-C,Takoradi_H8,GHcol,Ghana,Takoradi,Takoradi,David Weetman,David Weetman,2012,M,F,95993752,29.46,ERS311902,4.91217,-1.77397
4,AA0044-C,Takoradi_D10,GHcol,Ghana,Takoradi,Takoradi,David Weetman,David Weetman,2012,M,F,103044262,33.67,ERS311910,4.91217,-1.77397

In [54]:
grp = metadata.groupby("population")

In [55]:
grp.indices

{'AOcol': array([880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892,
        893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905,
        906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918,
        919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931,
        932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944,
        945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957]),
 'BFcol': array([ 68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,  79,  80,
         84,  85,  86,  87,  88,  89,  90,  94,  95,  96, 106, 107, 108,
        109, 110, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151,
        152, 153, 154, 162, 167, 168, 170, 171, 172, 175, 176, 177, 178,
        179, 180, 181, 183, 187, 190, 193, 195, 196, 198, 199, 200, 201,
        202, 208, 209, 212, 213, 216, 217, 225, 228, 231]),
 'BFgam': array([ 67,  81,  82,  83,  91,  92,  93,  97,  98,  99, 100, 101, 102,
        103, 104, 105, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120,
        121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133,
        134, 135, 136, 137, 138, 139, 140, 155, 156, 157, 158, 159, 160,
        161, 163, 164, 165, 166, 169, 173, 174, 182, 184, 185, 186, 188,
        189, 191, 192, 194, 197, 203, 204, 205, 206, 207, 210, 211, 214,
        215, 218, 219, 220, 221, 222, 223, 224, 226, 227, 229, 230, 232,
        233]),
 'CIcol': array([1071, 1072, 1073, 1074, 1075, 1076, 1077, 1078, 1079, 1080, 1081,
        1082, 1083, 1084, 1085, 1086, 1087, 1088, 1089, 1090, 1091, 1092,
        1093, 1094, 1095, 1096, 1097, 1098, 1099, 1100, 1101, 1102, 1103,
        1104, 1105, 1106, 1107, 1108, 1109, 1110, 1111, 1112, 1113, 1114,
        1115, 1116, 1117, 1118, 1119, 1120, 1121, 1122, 1123, 1124, 1125,
        1126, 1127, 1128, 1129, 1130, 1131, 1132, 1133, 1134, 1135, 1136,
        1137, 1138, 1139, 1140, 1141]),
 'CMgam': array([550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562,
        563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575,
        576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588,
        589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601,
        602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614,
        615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627,
        628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640,
        641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653,
        654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666,
        667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679,
        680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692,
        693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705,
        706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718,
        719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731,
        732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744,
        745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757,
        758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770,
        771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783,
        784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796,
        797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809,
        810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822,
        823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835,
        836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846]),
 'FRgam': array([847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859,
        860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870]),
 'GAgam': array([ 958,  959,  960,  961,  962,  963,  964,  965,  966,  967,  968,
         969,  970,  971,  972,  973,  974,  975,  976,  977,  978,  979,
         980,  981,  982,  983,  984,  985,  986,  987,  988,  989,  990,
         991,  992,  993,  994,  995,  996,  997,  998,  999, 1000, 1001,
        1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012,
        1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023,
        1024, 1025, 1026]),
 'GHcol': array([ 0,  1,  2,  3,  4,  6,  8,  9, 10, 11, 12, 13, 16, 17, 18, 19, 20,
        22, 23, 24, 25, 26, 27, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42,
        43, 44, 45, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 61, 62,
        63, 64, 65, 66]),
 'GHgam': array([ 5,  7, 14, 15, 21, 28, 29, 30, 36, 46, 54, 60]),
 'GM': array([346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358,
        359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371,
        372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384,
        385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397,
        398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410]),
 'GNcol': array([1061, 1063, 1065, 1069]),
 'GNgam': array([1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035, 1036, 1037,
        1038, 1039, 1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1048,
        1049, 1050, 1051, 1052, 1053, 1054, 1055, 1056, 1057, 1058, 1059,
        1060, 1062, 1064, 1066, 1067, 1068, 1070]),
 'GQgam': array([871, 872, 873, 874, 875, 876, 877, 878, 879]),
 'GW': array([411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423,
        424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436,
        437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449,
        450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462,
        463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475,
        476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488,
        489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501]),
 'KE': array([502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514,
        515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527,
        528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540,
        541, 542, 543, 544, 545, 546, 547, 548, 549]),
 'UGgam': array([234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
        247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
        260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
        273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
        286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
        299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
        312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
        325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
        338, 339, 340, 341, 342, 343, 344, 345])}

In [56]:
grp.mean_coverage.agg(np.mean)

population
AOcol    29.872692
BFcol    33.142933
BFgam    34.180543
CIcol    30.688310
CMgam    32.030000
FRgam    31.204167
GAgam    30.554493
GHcol    31.917455
GHgam    31.268333
GM       30.398308
GNcol    30.885000
GNgam    28.610500
GQgam    36.198889
GW       31.059451
KE       36.606458
UGgam    32.185982
Name: mean_coverage, dtype: float64

In [59]:
subpops = {
    'all': list(range(len(pop_subset))),
    'BFcol': pop_subset[pop_subset.population == 'BFcol'].index.tolist(),
    'BFgam': pop_subset[pop_subset.population == 'BFgam'].index.tolist(),
    'GHcol': pop_subset[pop_subset.population == 'GHcol'].index.tolist(),
    'AOcol': pop_subset[pop_subset.population == 'AOcol'].index.tolist(),
}

In [60]:
geno_subset.count_alleles_subpops(subpops)

ValueError: index out of bounds

In [ ]:
allel.patterson_d()

--------------------------------------------

In [1]:
import pandas as pd