In [1]:
%run imports.ipynb

In [2]:
import dask as da

In [3]:
from dask_kubernetes import KubeCluster
cluster = KubeCluster(n_workers=30)
cluster

VBox(children=(HTML(value='<h2>KubeCluster</h2>'), HBox(children=(HTML(value='\n<div>\n  <style scoped>\n    .â€¦

In [4]:
from dask.distributed import Client
client = Client(cluster)
client

In [7]:
hka_coluzzii = pd.read_csv('tables/hka/BFcol_vs_BFgam/priv_sel_coluzzii.tab', delimiter='\t')
hka_coluzzii

,chrom,gene,segreg_c,pri_der_fix_c,score_c,segreg_g,pri_der_fix_g,score_g
0,X,AGAP000822,6,3,43.607842,NaN,NaN,0.000000
1,X,AGAP013181,30,5,35.361725,NaN,NaN,0.000000
2,3L,AGAP010317,31,4,21.459164,28.0,1.0,0.672572
3,X,AGAP001031,16,3,20.585733,17.0,1.0,1.083591
4,3R,AGAP010302,42,4,16.176921,51.0,1.0,0.338726
5,X,AGAP001044,7,2,16.040938,17.0,1.0,1.083591
6,X,AGAP000833,81,5,13.792494,203.0,2.0,0.444163
7,3R,AGAP010304,56,4,12.244166,NaN,NaN,0.000000
8,2L,AGAP006634,14439,2,10.736248,NaN,NaN,0.000000
9,X,AGAP001032,64,4,10.720191,106.0,2.0,1.159130
10,X,AGAP000829,134,5,8.114213,354.0,1.0,0.085390
11,X,AGAP000937,17,2,7.639375,22.0,1.0,0.852517
12,X,AGAP001038,19,2,6.911865,27.0,1.0,0.697730
13,X,AGAP001082,156,5,6.851238,190.0,2.0,0.500046
14,X,AGAP000823,53,3,6.769522,NaN,NaN,0.000000
15,2R,AGAP004106,6876,1,5.325721,NaN,NaN,0.000000
16,2R,AGAP004046,6800,2,4.844151,NaN,NaN,0.000000
17,X,AGAP000825,30,2,4.517312,NaN,NaN,0.000000
18,X,AGAP000988,31,2,4.377531,NaN,NaN,0.000000
19,2R,AGAP002915,5658,1,4.368303,NaN,NaN,0.000000
20,X,AGAP001025,81,3,4.364933,107.0,1.0,0.072644
21,2R,AGAP003997,3258,24,3.385541,3200.0,6.0,0.804488
22,2R,AGAP004066,5303,3,3.280819,NaN,NaN,0.000000
23,X,AGAP000995,43,2,3.175693,47.0,1.0,0.376509
24,3R,AGAP009934,44,2,3.103201,50.0,1.0,0.347698
25,X,AGAP000989,113,3,3.022910,NaN,NaN,0.000000
26,X,AGAP013021,422,6,2.993500,625.0,5.0,0.898121
27,3L,AGAP010310,118,3,2.876340,NaN,NaN,0.000000
28,X,AGAP001022,212,4,2.822803,268.0,2.0,0.241714
29,2R,AGAP002858,3531,1,2.671416,NaN,NaN,0.000000
30,3R,AGAP010303,59,2,2.293980,NaN,NaN,0.000000
31,X,AGAP001065,60,2,2.253546,NaN,NaN,0.000000
32,X,AGAP000935,66,2,2.035080,75.0,1.0,0.185135
33,3R,AGAP010293,69,2,1.939209,81.0,1.0,0.158699
34,X,AGAP000820,9,1,1.907304,NaN,NaN,0.000000
35,2R,AGAP004028,2462,1,1.796347,NaN,NaN,0.000000
36,X,AGAP000940,435,5,1.787708,596.0,5.0,0.991004
37,X,AGAP000941,301,4,1.751132,316.0,2.0,0.143053
38,X,AGAP000942,76,2,1.743150,NaN,NaN,0.000000
39,X,AGAP001040,12,1,1.495019,NaN,NaN,0.000000
40,3R,AGAP010044,1977,1,1.390037,NaN,NaN,0.000000
41,3L,AGAP010742,1949,1,1.366328,NaN,NaN,0.000000
42,X,AGAP000994,94,2,1.365625,87.0,1.0,0.135235
43,3R,AGAP010298,14,1,1.307186,NaN,NaN,0.000000

In [8]:
hka_coluzzii_3L = hka_coluzzii.loc[(hka_coluzzii['chrom'] == '3L')]
hka_coluzzii_3L

,chrom,gene,segreg_c,pri_der_fix_c,score_c,segreg_g,pri_der_fix_g,score_g
2,3L,AGAP010317,31,4,21.459164,28.0,1.0,0.672572
27,3L,AGAP010310,118,3,2.876340,NaN,NaN,0.000000
41,3L,AGAP010742,1949,1,1.366328,NaN,NaN,0.000000

In [9]:
hka_coluzzii_3R = hka_coluzzii.loc[(hka_coluzzii['chrom'] == '3R')]
hka_coluzzii_3R

,chrom,gene,segreg_c,pri_der_fix_c,score_c,segreg_g,pri_der_fix_g,score_g
4,3R,AGAP010302,42,4,16.176921,51.0,1.0,0.338726
7,3R,AGAP010304,56,4,12.244166,NaN,NaN,0.000000
24,3R,AGAP009934,44,2,3.103201,50.0,1.0,0.347698
30,3R,AGAP010303,59,2,2.293980,NaN,NaN,0.000000
33,3R,AGAP010293,69,2,1.939209,81.0,1.0,0.158699
40,3R,AGAP010044,1977,1,1.390037,NaN,NaN,0.000000
43,3R,AGAP010298,14,1,1.307186,NaN,NaN,0.000000

In [10]:
def center_pos(r):
    start = r.start
    end = r.end
    center = ((end - start) / 2) + start
    return int(center)

In [11]:
tbl_genes  = (etl
    .fromgff3('data/Anopheles-gambiae-PEST_BASEFEATURES_AgamP4.2.sorted.gff3.gz')
    .unpackdict('attributes')
    .cut(2,3,4,9)
    .select(lambda rec: rec.type == 'gene')
    .rename('ID', 'gene')
    .addfield('center_gene', center_pos)
    .todataframe()
)
tbl_genes.head()

   type   start     end        gene  center_gene
0  gene  157348  186936  AGAP004677       172142
1  gene  203779  205293  AGAP004678       204536
2  gene  207894  210460  AGAP004679       209177
3  gene  271285  271815  AGAP004680       271550
4  gene  358329  359280  AGAP004681       358804

In [19]:
tbl_pos_3L = pd.merge(hka_coluzzii_3L, tbl_genes, on='gene', how='inner').drop(columns=['type','start','end'])
tbl_pos_3L.to_csv('tables/tbl_pos_3L.tab')
tbl_pos_3L

,chrom,gene,segreg_c,pri_der_fix_c,score_c,segreg_g,pri_der_fix_g,score_g,center_gene
0,3L,AGAP010317,31,4,21.459164,28.0,1.0,0.672572,414140
1,3L,AGAP010310,118,3,2.876340,NaN,NaN,0.000000,74374
2,3L,AGAP010742,1949,1,1.366328,NaN,NaN,0.000000,9360663

In [16]:
tbl_pos_3L = pd.merge(hka_coluzzii_3L, tbl_genes, on='gene', how='inner').drop(columns=['type','center_gene'])
tbl_pos_3L.to_csv('tables/tbl_pos_3L.tab')
tbl_pos_3L

,chrom,gene,segreg_c,pri_der_fix_c,score_c,segreg_g,pri_der_fix_g,score_g,start,end
0,3L,AGAP010317,31,4,21.459164,28.0,1.0,0.672572,413217,415064
1,3L,AGAP010310,118,3,2.876340,NaN,NaN,0.000000,66479,82270
2,3L,AGAP010742,1949,1,1.366328,NaN,NaN,0.000000,9344000,9377326

In [20]:
tbl_pos_3R = pd.merge(hka_coluzzii_3R, tbl_genes, on='gene', how='inner').drop(columns=['type','start','end'])
tbl_pos_3R.to_csv('tables/tbl_pos_3R.tab')
tbl_pos_3R

,chrom,gene,segreg_c,pri_der_fix_c,score_c,segreg_g,pri_der_fix_g,score_g,center_gene
0,3R,AGAP010302,42,4,16.176921,51.0,1.0,0.338726,52853378
1,3R,AGAP010304,56,4,12.244166,NaN,NaN,0.000000,52973950
2,3R,AGAP009934,44,2,3.103201,50.0,1.0,0.347698,45615025
3,3R,AGAP010303,59,2,2.293980,NaN,NaN,0.000000,52920804
4,3R,AGAP010293,69,2,1.939209,81.0,1.0,0.158699,52356782
5,3R,AGAP010044,1977,1,1.390037,NaN,NaN,0.000000,48178590
6,3R,AGAP010298,14,1,1.307186,NaN,NaN,0.000000,52656475

In [17]:
tbl_pos_3R = pd.merge(hka_coluzzii_3R, tbl_genes, on='gene', how='inner').drop(columns=['type','center_gene'])
tbl_pos_3R.to_csv('tables/tbl_pos_3R.tab')
tbl_pos_3R

,chrom,gene,segreg_c,pri_der_fix_c,score_c,segreg_g,pri_der_fix_g,score_g,start,end
0,3R,AGAP010302,42,4,16.176921,51.0,1.0,0.338726,52851999,52854757
1,3R,AGAP010304,56,4,12.244166,NaN,NaN,0.000000,52951761,52996140
2,3R,AGAP009934,44,2,3.103201,50.0,1.0,0.347698,45614423,45615628
3,3R,AGAP010303,59,2,2.293980,NaN,NaN,0.000000,52903957,52937651
4,3R,AGAP010293,69,2,1.939209,81.0,1.0,0.158699,52354660,52358904
5,3R,AGAP010044,1977,1,1.390037,NaN,NaN,0.000000,48160823,48196357
6,3R,AGAP010298,14,1,1.307186,NaN,NaN,0.000000,52655670,52657280