In [16]:
%run imports.ipynb

In [26]:
treemix_3L = pd.read_csv('d/data/treemix/seg_AOcol_BFcol_CIcol_GHcol_GNcol_GHgam_CMgam_BFgam_GNgam_GQgam_UGgam_GAgam_FRgam_KE_GM_GW_og_arab_ldp_1/3L-complete.allele_counts.txt.gz', sep = ' ')
treemix_3L

,AOcol,BFcol,BFgam,CIcol,CMgam,FRgam,GAgam,GHcol,GHgam,GM,GNcol,GNgam,GQgam,GW,KE,UGgam,arab
0,"156,0","150,0","184,0","142,0","591,3","48,0","138,0","110,0","24,0","130,0","8,0","79,1","17,1","182,0","96,0","224,0","0,0"
1,"156,0","150,0","183,1","142,0","594,0","48,0","138,0","110,0","24,0","130,0","8,0","80,0","18,0","182,0","96,0","224,0","0,0"
2,"156,0","150,0","184,0","142,0","592,2","48,0","138,0","110,0","24,0","130,0","8,0","80,0","18,0","182,0","96,0","224,0","0,0"
3,"156,0","150,0","182,2","142,0","594,0","48,0","138,0","110,0","24,0","129,1","8,0","80,0","18,0","182,0","96,0","224,0","0,0"
4,"156,0","150,0","184,0","142,0","594,0","48,0","138,0","110,0","24,0","130,0","8,0","79,1","18,0","182,0","96,0","224,0","0,0"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54946,"156,0","150,0","183,1","142,0","594,0","48,0","138,0","110,0","23,1","130,0","8,0","80,0","18,0","182,0","96,0","224,0","0,0"
54947,"156,0","150,0","174,10","142,0","589,5","48,0","135,3","110,0","24,0","130,0","8,0","78,2","18,0","181,1","96,0","219,5","0,0"
54948,"123,33","150,0","184,0","142,0","594,0","48,0","138,0","110,0","24,0","130,0","8,0","80,0","18,0","182,0","96,0","224,0","0,0"
54949,"156,0","150,0","184,0","142,0","594,0","48,0","138,0","110,0","24,0","127,3","8,0","80,0","18,0","178,4","96,0","224,0","0,0"
54950,"156,0","150,0","174,10","142,0","589,5","48,0","135,3","110,0","24,0","130,0","8,0","78,2","18,0","181,1","96,0","219,5","0,0"

In [27]:
df = treemix_3L[treemix_3L.arab != '0,0']
df

,AOcol,BFcol,BFgam,CIcol,CMgam,FRgam,GAgam,GHcol,GHgam,GM,GNcol,GNgam,GQgam,GW,KE,UGgam,arab
33,"156,0","149,1","184,0","142,0","594,0","48,0","138,0","110,0","24,0","130,0","8,0","80,0","18,0","182,0","96,0","224,0","24,0"
34,"156,0","150,0","184,0","142,0","594,0","48,0","138,0","109,1","24,0","130,0","8,0","80,0","18,0","182,0","96,0","224,0","24,0"
35,"0,156","0,150","45,139","0,142","114,480","3,45","24,114","0,110","7,17","37,93","0,8","26,54","4,14","30,152","0,96","53,171","0,24"
44,"156,0","150,0","184,0","142,0","593,1","48,0","138,0","110,0","24,0","130,0","8,0","80,0","18,0","182,0","96,0","224,0","24,0"
47,"156,0","150,0","184,0","142,0","594,0","48,0","128,8","110,0","24,0","130,0","8,0","80,0","17,1","182,0","96,0","224,0","24,0"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54918,"122,34","91,59","180,4","99,43","587,7","48,0","133,5","80,30","24,0","116,14","8,0","77,3","18,0","171,11","88,8","222,2","24,0"
54919,"156,0","147,3","184,0","138,4","594,0","48,0","138,0","107,3","24,0","130,0","8,0","80,0","18,0","182,0","96,0","224,0","24,0"
54920,"156,0","149,1","184,0","136,6","594,0","48,0","138,0","104,6","24,0","129,1","7,1","80,0","18,0","180,2","96,0","224,0","24,0"
54921,"156,0","150,0","183,1","142,0","594,0","48,0","138,0","110,0","24,0","130,0","8,0","80,0","18,0","182,0","96,0","224,0","24,0"
54922,"156,0","150,0","183,1","142,0","593,1","48,0","138,0","110,0","21,3","130,0","8,0","80,0","18,0","182,0","96,0","224,0","24,0"

In [28]:
df.to_csv('3L_complete__arab.txt',index=False, sep=" ")